.container {
    height: 100vh;
    background-color: #EEE;
}

/*Background Classes*/
.cloudy_bg {
    background: url('images/cloudy.jpg');
}


/*Header*/

#header {
    height: 20%;
}

#header div {
    height: 100%;
    position: relative;
    padding: 0;
}

#header div h1 {
    font-size: 7vmin;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#weather_info {
    margin: 0 auto;
    max-width: 450px;
    padding-top: 2em;
}

/*Location*/
#location h2 {
    font-size: 5vmin;
}

/*weather*/
#weather {
    padding: 2em 0 2em 0;
}

#weather span {
    padding: .5em;
}

#weather .icon img {
    height: 15vmin;
    max-height: 85px;
}

#weather .temperature {
    font-size: 3.8vmin;
    font-weight: bold;
}

#conditions, .direction, .speed {
    font-size: 4vmin;
}

